server:
  port: 8082

spring:
  application:
    name: product-service
  data:
    mongodb:
      uri: mongodb://admin:password@localhost:27017/buy01_product?authSource=admin

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
